#answer:hover {
    background-color: aqua;
}
#highScores:hover {
    background-color: aqua;
}

#answer, #highScores, #timer, #question, #scoreForm{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    list-style: none;
    width: fit-content;
    padding: 3vh;
    margin: 2vh;
    border-radius: 5px;
    border: 3px solid rgb(52, 165, 240);
    background-color: white;
}

body {
    background-color: rgb(56, 54, 54);
}

#result {
    color: white;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}


#scoresTable{
    background-color: white;

    border: 2px solid rgb(52, 165, 240);
    border-radius: 5px;
    padding: 3vh;
    margin: 2vh;
    width: fit-content;
    justify-items: center;
}